body{
    margin: 0;
    padding: 0;
    background-color: rgb(34, 5, 1);
}
.top-section{
    background-image: linear-gradient(to bottom right, rgb(1, 151, 151) 40%, rgb(2, 173, 252));
    background-size: auto;
    height: 820px;
    width: 90%;
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-bottom: 40px;
}
.divTop{
    padding: 20px;
}